<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field is-narrow">
        <p class="control">
          <input
            type="number"
            class="input form-input"
            placeholder="Amount"
            name="amount"
            required
            formControlName="amount"
          />
        </p>
      </div>
      <div class="field">
        <label class="control">
          <input
            type="text"
            class="input form-input form-input__description"
            placeholder="Description"
            name="description"
            required
            formControlName="description"
          />
        </label>
      </div>
      <div class="field is-narrow">
        <div class="control">
          <button
            class="button is-primary form-button"
            style=" font-weight: bold"
            [disabled]="!form.valid ? 'disabled' : null"
          >
            {{ isNewItem ? "Add" : "Save" }}
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="field is-horizontal switch-section">
  <p class="switch-section__income-option">Income</p>
  <label class="switch">
    <input type="checkbox" [(ngModel)]="checked">
    <span class="slider round">
  </span>
  </label>
  <p class="switch-section__expense-option">Expense</p>
</div>
